<form [formGroup]="importForm" fxLayout="column" (keyup.enter)="import()">
  <div>
    <mat-form-field fxFlex="49">
      <input matInput formControlName="path" placeholder="File Path">
      <mat-error *ngIf="importForm.controls['path'].hasError('required')">
        Path is mandatory!
      </mat-error>
    </mat-form-field>
    <button fxFlexOffset="2" type="button" mat-raised-button color="primary" matTooltip="Import" 
            [disabled]="importForm.controls['path'].hasError('required') || loading"
      (click)="import()">
      Import!
    </button>
  </div>
</form>
